:root {
  --boxColor: #0ff7;
  --rotateSpeed: 30s;
  --bounceSpeed: 1.5s;
}

body {
  background-color: #000;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 75px;
  perspective: 10em;
  perspective-origin: 50% calc(50% - 2.6em);
}

.scene {
  position: relative;
  transform-style: preserve-3d;
  animation: sceneRotate var(--rotateSpeed) linear infinite;
}
@keyframes sceneRotate {
  to {
    transform: rotateY(360deg);
  }
}

/* Ball Part */
.ball {
  background-color: lightblue;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  position: absolute;
  left: -0.5em;
  bottom: 1em;
  background-image: radial-gradient(circle at top, lightblue, #000);
  animation: ballBounce var(--bounceSpeed) ease-out infinite,
    sceneRotate var(--rotateSpeed) linear infinite reverse; /* or ballRotate var(--rotateSpeed) linear infinte */
}
.ballShadow {
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: radial-gradient(#0007, #0000 50%);
  animation: ballShadow var(--bounceSpeed) ease-out infinite;
}
@keyframes ballBounce {
  0%,
  100% {
    bottom: 0.5em;
  }
  50% {
    bottom: 3em;
    animation-timing-function: ease-in;
  }
}
@keyframes ballShadow {
  0%,
  8%,
  93.5%,
  100% {
    transform: scale(1);
    opacity: 1;
  }
  50% {
    transform: scale(2);
    opacity: 0.5;
    animation-timing-function: ease-in;
  }
}
/* @keyframes ballRotate {
  to {
    transform: rotateY(-360deg);
  }
} */

/* Cube Part */
.cube {
  width: 2em;
  height: 2em;
  transform-style: preserve-3d;
  position: absolute;
  bottom: -1em;
  left: -1em;
  animation: cubeHeight var(--bounceSpeed) linear infinite;
}
@keyframes cubeHeight {
  0%,
  100% {
    height: 1.5em;
  }
  8%,
  93.5% {
    height: 2em;
  }
}

.left,
.right,
.front,
.back {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: var(--boxColor);
  box-shadow: 0 0 0.5em #000a inset;
}
.front {
  transform: translateZ(1em);
}
.right {
  transform: rotateY(90deg) translateZ(1em);
}
.back {
  transform: rotateY(180deg) translateZ(1em);
}
.left {
  transform: rotateY(270deg) translateZ(1em);
}
.top {
  position: absolute;
  width: 2em;
  height: 2em;
  background-color: var(--boxColor);
  transform: rotateX(90deg) translateZ(1em); /* or trnsform: translateY(-50%) rotateX(90deg); */
  box-shadow: 0 0 0.5em #000a inset;
}
.bottom {
  position: absolute;
  width: 2em;
  height: 2em;
  background-color: #0007;
  bottom: 0;
  transform: rotateX(90deg) translateZ(-1em); /* or trnsform: translateY(50%) rotateX(90deg); */
  box-shadow: 0 0 0.5em #000;
}

/* Floor Part */
.floor {
  position: absolute;
  top: 1em;
  transform: translate(-50%, -50%) rotateX(90deg);
  width: 15em;
  height: 15em;
  background-image: radial-gradient(#0000, #000),
    repeating-conic-gradient(from 45deg, #111 0deg 90deg, #222 90deg 180deg);
  background-size: 100%, 1em 1em;
}
